{% extends "base.html" %}
{%block content%}
<ul>
  {% for book in books %}
  <li>
    <a href="{{url_for('view_book',file_id=book.id)}}">
      {{book.title}}
    </a>
  </li>
  {%endfor%}
</ul>
  {%endblock%}
