{% extends "base.html" %}


{% block content %}
<!-- <h2>Categories:</h2> -->
<div class="list-group">
  {%for category in category_list%}

  <a href="{{ url_for('book',cat=category.id) }}" class="list-group-item">{{category.name}}</a>
  {%endfor%}
</div>

{% endblock %}
