{% extends "base.html" %}
{%block content%}
<h3>{{ user.username }}</h3>
<h4>My Uploads</h4>
<ul>
  {%for upload in uploads%}
  <li><a href="{{url_for('view_book',file_id=upload.id)}}">{{upload.filename}}</a></li>
  {%endfor%}
</ul>
{%endblock%}
